{% extends 'travelagencyindex.html' %}
{% block body%}


<body>
<form id="form1" name="form1" method="post" action="/addpackages1">
  <table  align="center" style="width:300px" >

    <tr>
      <th scope="row">Package Details </th>
      <td><label>
        <textarea name="textfield" required class="form-control"></textarea>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Food Availability </th>
      <td><label>
        <input type="radio" name="textfield2" value="Yes"  checked/>Yes <input type="radio" name="textfield2" value="No"/>No
      </label></td>
    </tr>
    <tr>
      <th scope="row">Rate</th>
      <td><label>
        <input type="text" name="textfield3" required pattern="[0-9]{3,25}" class="form-control"/>
      </label></td>
<!--    </tr>-->
<!--   <tr>-->
<!--     <td><p></p></td>-->
<!--   </tr>-->
    <tr align="center">
      <th colspan="2" scope="row">
        <input type="submit" name="Submit" value="Add" class="form-control-submit-button"/>
      </th>
    </tr>
  </table>
  <label></label>
</form>
</body>

{% endblock %}