{%extends 'adminindex.html'%}
{%block body%}


<body>

<!--<p><a href="/viewtravelagency">add and manage travel agency</a></p>-->
<!--<p><a href="/viewhotel">add and manage hotels</a></p>-->
<!--<p><a href="/viewcomplaint">view complaints and send replay</a></p>-->
<!--<p><a href="/viewusers">view users</a></p>-->
<!--<p><a href="/feedback">view app feedback</a></p>-->
<!--<p><a href="/viewreport">view report</a></p>-->
<!--<p><a href="/logout">Logout</a></p>-->

</body>

{%endblock%}