{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/updatetravelagency">
<table width="302" align="center" >
    <tr>
      <th  scope="row">Agency name </th>
      <td><label>
        <input  type="text" name="textfield" value="{{result[2]}}" required pattern="[A-Z a-z.]{3,25}" class="form-control-input"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield2" value="{{result[3]}}" required pattern="[A-Z a-z.]{3,25}" class="form-control-input"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><label>
        <input type="text" name="textfield3" value="{{result[4]}}" required pattern="[A-Z a-z.]{3,25}" class="form-control-input"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><label>
        <input type="text" name="textfield4" value="{{result[5]}}" required pattern="[0-9]{6}" class="form-control-input"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield5" value="{{result[6]}}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" class="form-control-input"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label>
        <input type="text" name="textfield6" value="{{result[7]}}" required pattern="[6789][0-9]{9}" class="form-control-input"/>
      </label></td>
    </tr>

    <tr>
      <th colspan="2" scope="row">
        <input type="submit" name="Submit2" value="UPDATE" class="form-control-submit-button" />
      </th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
