{%extends 'hotelindex.html'%}
{%block body%}

<body>
<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <p><a href="/viewroomdetails">Add and manage room details</a></p>-->
<!--  <p><a href="/viewroombooking">view Booking and Accept/reject Request </a></p>-->
<!--  <p><a href="/viewhotelpayment">view Payment made by users </a></p>-->
<!--  <p><a href="/viewhotelcomplaint">Add complaints and view replay </a></p>-->
<!--  <p><a href="/addhotelreport">Add report </a></p>-->
<!--  <p><a href="/logout">Logout</a></p>-->
<!--</form>-->
</body>
{% endblock %}
