{% extends 'adminindex.html' %}
{% block body%}

<body>
<form id="form1" name="form1" method="post" action="/sendreply">
  <table  class="table" align="center" style="width:300px">
    <tr>
      <th scope="row" >Reply</th>
      <th scope="row"><label>
        <input type="text" name="textfield" required class="form-control-input"/>
      </label></th>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row">
        <input type="submit" name="Submit" value="Send" class="form-control-submit-button"/>
      </th>
    </tr>
  </table>
</form>
</body>

{% endblock %}
