{% extends 'travelagencyindex.html' %}
{% block body%}
<body>
<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <p><a href="/viewpackages">add and manage packages</a></p>-->
<!--  <p><a href="/viewpackagebooking">view booking and accept / reject requests</a> </p>-->
<!--  <p><a href="/viewplace">add and manage place details</a></p>-->
<!--  <p><a href="/viewtravelagencycomplaints">add complaints and view replay</a></p>-->
<!--  <p><a href="/viewpaymentdetails">view payment details</a></p>-->
<!--  <p><a href="/addtravelagencyreport">add report</a></p>-->
<!--  <p><a href="/logout">Logout</a></p>-->
<!--</form>-->
</body>
{% endblock %}
