{%extends 'hotelindex.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="263" class="table">

    <tr bgcolor="#113448">
      <th width="68" scope="row">Payment details </th>
      <th width="35">User Name</th>
      <th width="1">User Details </th>
      <th width="33">Date</th>
      <th width="41">Status</th>
      <th width="45">&nbsp;</th>
    </tr>

    {% for i in result %}
    <tr>
      <td>{{i[0]}}</th>
      <td>{{i[1]}} {{i[2]}}</td>
      <td>{{i[3]}}<br>{{i[4]}}</td>
      <td><p>{{i[5]}}</p>
      </td>
      <td>{{i[6]}}</td>
      <td><p><a href="/acceptroompayment?id={{i[7]}}">Accept</a></p>
      <p><a href="/rejectroompayment?id={{i[7]}}">Reject</a></p></td>
    </tr>
    {% endfor %}


  </table>
</form>
</body>

{% endblock %}

